x-content-strategy/workflows/research-pipeline.json
{
  "updatedAt": "2026-03-24T22:21:26.950Z",
  "createdAt": "2025-07-16T11:52:28.285Z",
  "name": "Research Pipeline",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Stream 1: All My Accounts (Dynamic)\nScrapes ALL active accounts from myAccounts table in a single call.\nTags each tweet with accountVoice for identification.\nAdd/remove accounts in Airtable - no workflow changes needed.",
        "height": 308,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15408,
        14720
      ],
      "id": "e5701db7-acc2-4e9b-ae9c-142857b713aa",
      "name": "My Accounts Stream Note"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appX3qB44SH5Svkay",
          "mode": "list",
          "cachedResultName": "X Research Base"
        },
        "table": {
          "__rl": true,
          "value": "tblKKkKESC83u1hk8",
          "mode": "list",
          "cachedResultName": "myTweets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hook": "={{ $json.hook }}",
            "Text": "={{ $json.text }}",
            "Account": "={{ $json.account }}",
            "Tweet ID": "={{ $json.tweetId }}",
            "URL": "YOUR_URL_HERE",
            "Collected At": "={{ $json.collectedAt }}",
            "Created At": "={{ $json.createdAt }}",
            "Total Engagement": "={{ $json.totalEngagement }}",
            "View Count": "={{ $json.viewCount }}",
            "Like Count": "={{ $json.likeCount }}",
            "Retweet Count": "={{ $json.retweetCount }}",
            "Reply Count": "={{ $json.replyCount }}",
            "Quote Count": "={{ $json.quoteCount }}",
            "Bookmark Count": "={{ $json.bookmarkCount }}",
            "Composite Score": "={{ $json.compositeScore }}",
            "Is CTA Post": "={{ $json.isCTAPost }}",
            "Format Type": "={{ $json.formatType }}"
          },
          "matchingColumns": [
            "Tweet ID",
            "URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "noz",
                  "value": "noz"
                },
                {
                  "name": "ww",
                  "value": "ww"
                },
                {
                  "name": "jb",
                  "value": "jb"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tweet ID",
              "displayName": "Tweet ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collected At",
              "displayName": "Collected At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Engagement",
              "displayName": "Total Engagement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "View Count",
              "displayName": "View Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Like Count",
              "displayName": "Like Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Count",
              "displayName": "Retweet Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply Count",
              "displayName": "Reply Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quote Count",
              "displayName": "Quote Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bookmark Count",
              "displayName": "Bookmark Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Composite Score",
              "displayName": "Composite Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is CTA Post",
              "displayName": "Is CTA Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Format Type",
              "displayName": "Format Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Engagement Score",
              "displayName": "Engagement Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Days Since Posted",
              "displayName": "Days Since Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "weeklyResearchRollup",
              "displayName": "weeklyResearchRollup",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16096,
        14848
      ],
      "id": "094c9b79-c320-4f48-8dff-83ee637b99e0",
      "name": "Save to myAccountTweets",
      "credentials": {
        "airtableTokenApi": {
          "id": "K4gvRCfR7JWXPL1K",
          "name": "N8N - Agent-n - Main Integration"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FILTER & PROCESS: All My Account Tweets (Dynamic)\nconst inputData = $input.all();\nconst processed = [];\nconst myAccounts = $('Session Config').item.json.myAccounts || [];\nconst accountLookup = {};\nmyAccounts.forEach(a => { accountLookup[a.username.toLowerCase()] = a.accountTag; });\n\nfunction calculateCompositeScore(text, views, bookmarks, retweets, quotes, likes, replies) {\n  const textLower = text.toLowerCase();\n  const ctaPhrases = ['comment','reply','dm me','drop a','let me know','type','say \"', \"say '\", 'tell me','share your','follow','retweet','rt this','must be following',\"i'll send\",\"and i'll\",'required'];\n  const hasCTA = ctaPhrases.some(p => textLower.includes(p));\n  const replyToLikeRatio = likes > 0 ? replies / likes : 0;\n  const likelyCTA = replyToLikeRatio > 0.5;\n  const isCTAPost = hasCTA || likelyCTA;\n  const BW=5, RTW=4, QW=3, LW=isCTAPost?1:2, RW=isCTAPost?2:1;\n  const we = (bookmarks*BW)+(retweets*RTW)+(quotes*QW)+(likes*LW)+(replies*RW);\n  const er = (we / Math.max(views,1)) * 100;\n  const rawScore = Math.min(Math.log10(er + 1) * 30, 100);\n  return { score: parseFloat(rawScore.toFixed(1)), isCTAPost };\n}\n\ninputData.forEach(item => {\n  let tweets = Array.isArray(item.json) ? item.json : (item.json?.data || [item.json]);\n  tweets.forEach(tweet => {\n    if (!tweet || tweet.isRetweet || tweet.isReply) return;\n    const text = tweet.text || '';\n    if (text.length < 20) return;\n    const author = typeof tweet.author === 'string' ? tweet.author : (tweet.author?.userName || 'unknown');\n    const tweetId = tweet.id || tweet.url?.split('/').pop();\n    if (!tweetId) return;\n    const views=tweet.viewCount||0, likes=tweet.likeCount||0, retweets=tweet.retweetCount||0;\n    const replies=tweet.replyCount||0, quotes=tweet.quoteCount||0, bookmarks=tweet.bookmarkCount||0;\n    const totalEngagement = likes+retweets+replies+quotes+bookmarks;\n    const textLower = text.toLowerCase();\n    const scoreData = calculateCompositeScore(text, views, bookmarks, retweets, quotes, likes, replies);\n    let contentType = 'value';\n    if (textLower.includes('automation') || textLower.includes('workflow') || textLower.includes('n8n')) contentType = 'automation';\n    const account = accountLookup[author.toLowerCase()] || 'unknownTweets';\n    const isThread = text.includes('\\ud83e\\uddf5') || /\\d+\\/\\d+/.test(text);\n    processed.push({ json: {\n      tweetId, text, account,\n      url: tweet.url || `https://twitter.com/${author}/status/${tweetId}`,\n      createdAt: tweet.createdAt,\n      collectedAt: new Date().toISOString(),\n      viewCount: views, likeCount: likes, retweetCount: retweets,\n      replyCount: replies, quoteCount: quotes, bookmarkCount: bookmarks,\n      totalEngagement, compositeScore: scoreData.score, isCTAPost: scoreData.isCTAPost,\n      hook: text.substring(0, 120), contentType,\n      formatType: isThread ? 'thread' : 'tweet',\n      isViralPattern: views >= 50000 || scoreData.score >= 50,\n      mediaUrls: tweet.media?.map(m => m.url).filter(Boolean).join(', ') || ''\n    }});\n  });\n});\nconsole.log(`My Account Tweets: Processed ${processed.length} tweets from ${myAccounts.length} accounts`);\nreturn processed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15888,
        14848
      ],
      "id": "9dc4fc8a-6670-4a47-ba00-a6325f87d1e6",
      "name": "Filter & Tag My Account Tweets"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $json.data.defaultDatasetId }}",
        "fields": "id,text,createdAt,url,viewCount,likeCount,retweetCount,replyCount,quoteCount,bookmarkCount,author,media,hashtags,isRetweet,isReply",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        15680,
        14848
      ],
      "id": "afb9ba7c-fd76-4797-b7a0-071e4a7fad72",
      "name": "Get My Account Data",
      "credentials": {
        "apifyApi": {
          "id": "IQmRN7SmBpPsVvWX",
          "name": "test account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor",
        "actorId": {
          "__rl": true,
          "value": "61RPP7dywgiy0JPD0",
          "mode": "list",
          "cachedResultName": "tweet-scraper"
        },
        "build": "latest",
        "webhooks": "",
        "useCustomBody": true,
        "customBody": "={\n  \"customMapFunction\": \"(object) => { return { ...object } }\",\n  \"includeSearchTerms\": false,\n  \"minimumFavorites\": 0,\n  \"minimumReplies\": 0,\n  \"minimumRetweets\": 0,\n  \"onlyImage\": false,\n  \"onlyQuote\": false,\n  \"onlyTwitterBlue\": false,\n  \"onlyVerifiedUsers\": false,\n  \"onlyVideo\": false,\n  \"searchTerms\": {{ JSON.stringify($json.myAccountUsernames.map(u => 'from:' + u)) }},\n  \"sort\": \"Latest\",\n  \"start\": \"{{ $json.startTime }}\",\n  \"tweetLanguage\": \"en\"\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        15472,
        14848
      ],
      "id": "0b9ecad1-28dc-42ae-abf9-7ea1afcec998",
      "name": "Scrape All My Accounts",
      "credentials": {
        "apifyApi": {
          "id": "9zn2M8TmA5zEWa5g",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appX3qB44SH5Svkay",
          "mode": "list",
          "cachedResultName": "Content Research Base"
        },
        "table": {
          "__rl": true,
          "value": "tblusAV5tg9dOCjwN",
          "mode": "list",
          "cachedResultName": "taTweets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tweet ID": "={{ $json.tweetId }}",
            "URL": "YOUR_URL_HERE",
            "Text": "={{ $json.text }}",
            "Author": "={{ $json.author }}",
            "View Count": "={{ $json.viewCount }}",
            "Like Count": "={{ $json.likeCount }}",
            "Retweet Count": "={{ $json.retweetCount }}",
            "Reply Count": "={{ $json.replyCount }}",
            "Quote Count": "={{ $json.quoteCount }}",
            "Total Engagement": "={{ $json.totalEngagement }}",
            "Hook": "={{ $json.hook }}",
            "Format Type": "={{ $json.formatType }}",
            "Is Viral Pattern": "={{ $json.isViralPattern }}",
            "Is Thread": "={{ $json.isThread }}",
            "Created At": "={{ $json.createdAt }}",
            "Collected At": "={{ $json.collectedAt }}",
            "Bookmark Count": "={{ $json.bookmarkCount }}"
          },
          "matchingColumns": [
            "Tweet ID",
            "URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tweet ID",
              "displayName": "Tweet ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Collected At",
              "displayName": "Collected At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Engagement",
              "displayName": "Total Engagement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "View Count",
              "displayName": "View Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Like Count",
              "displayName": "Like Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Retweet Count",
              "displayName": "Retweet Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply Count",
              "displayName": "Reply Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quote Count",
              "displayName": "Quote Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bookmark Count",
              "displayName": "Bookmark Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Viral Pattern",
              "displayName": "Is Viral Pattern",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Thread",
              "displayName": "Is Thread",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Format Type",
              "displayName": "Format Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Engagement Score",
              "displayName": "Engagement Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Days Since Posted",
              "displayName": "Days Since Posted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        16096,
        15152
      ],
      "id": "fdc0dff7-bbcd-4216-9de9-8cae2de26ff4",
      "name": "Save to taTweets",
      "credentials": {
        "airtableTokenApi": {
          "id": "K4gvRCfR7JWXPL1K",
          "name": "N8N - Agent-n - Main Integration"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FILTER & PROCESS: Tracked Accounts Tweets\nconst inputData = $input.all();\nconst processed = [];\nlet skippedIrrelevant = 0;\nconst trackedAccountsMeta = {};\nconst taWithMeta = $('Session Config').item.json.trackedAccountsWithMeta || [];\ntaWithMeta.forEach(a => { trackedAccountsMeta[a.username.toLowerCase()] = a; });\n\nconst nicheKeywords = ['ai','artificial intelligence','machine learning','ml','llm','gpt','claude','opus','sonnet','gemini','openai','anthropic','chatgpt','copilot','codex','grok','perplexity','midjourney','stable diffusion','deep learning','neural','transformer','fine-tune','fine tune','embedding','vector','rag','prompt','token','inference','automat','workflow','n8n','zapier','make.com','integromat','no-code','nocode','low-code','lowcode','api','webhook','pipeline','scrape','scraping','bot','cron','agent','agentic','multi-agent','autonomous','openclaw','open claw','mcp','tool use','function call','saas','startup','founder','indie hack','solopreneur','bootstrap','ship','shipped','shipping','build','deploy','launch','revenue','mrr','arr','monetiz','pricing','vibe cod','cursor','replit','v0','bolt','content','creator','audience','growth','engagement','twitter','x.com','thread','newsletter','code','coding','developer','programming','software','engineer','open source','github','npm','python','javascript','typescript','react','node','docker','cloud','aws','server','vps','replac','disrupt','obsolete','commodit','future of','age of ai','workforce'];\n\nfunction isNicheRelevant(text) { const tl = text.toLowerCase(); return nicheKeywords.some(kw => tl.includes(kw)); }\n\nfunction calculateCompositeScore(text, views, bookmarks, retweets, quotes, likes, replies) {\n  const textLower = text.toLowerCase();\n  const ctaPhrases = ['comment','reply','dm me','drop a','let me know','type','say \"', \"say '\", 'tell me','share your','follow','retweet','rt this','must be following',\"i'll send\",\"and i'll\",'required'];\n  const hasCTA = ctaPhrases.some(p => textLower.includes(p));\n  const likelyCTA = likes > 0 ? replies/likes > 0.5 : false;\n  const isCTAPost = hasCTA || likelyCTA;\n  const BW=5, RTW=4, QW=3, LW=isCTAPost?1:2, RW=isCTAPost?2:1;\n  const we = (bookmarks*BW)+(retweets*RTW)+(quotes*QW)+(likes*LW)+(replies*RW);\n  const rawScore = Math.min(Math.log10((we/Math.max(views,1))*100 + 1) * 30, 100);\n  return { score: parseFloat(rawScore.toFixed(1)), isCTAPost };\n}\n\ninputData.forEach(item => {\n  let tweets = Array.isArray(item.json) ? item.json : (item.json?.data || [item.json]);\n  tweets.forEach(tweet => {\n    if (!tweet || tweet.isRetweet || tweet.isReply) return;\n    const text = tweet.text || '';\n    if (text.length < 20) return;\n    if (!isNicheRelevant(text)) { skippedIrrelevant++; return; }\n    const author = typeof tweet.author === 'string' ? tweet.author : (tweet.author?.userName || 'unknown');\n    const tweetId = tweet.id || tweet.url?.split('/').pop();\n    if (!tweetId) return;\n    const views=tweet.viewCount||0, likes=tweet.likeCount||0, retweets=tweet.retweetCount||0;\n    const replies=tweet.replyCount||0, quotes=tweet.quoteCount||0, bookmarks=tweet.bookmarkCount||0;\n    const totalEngagement = likes+retweets+replies+quotes+bookmarks;\n    const scoreData = calculateCompositeScore(text, views, bookmarks, retweets, quotes, likes, replies);\n    const textLower = text.toLowerCase();\n    let contentType = 'value';\n    if (textLower.includes('n8n') || textLower.includes('workflow') || textLower.includes('automat')) contentType = 'automation';\n    else if (textLower.includes('agent') || textLower.includes('agentic')) contentType = 'agents';\n    else if (textLower.includes('api') || textLower.includes('code') || textLower.includes('deploy')) contentType = 'technical';\n    else if (textLower.includes('saas') || textLower.includes('startup') || textLower.includes('revenue')) contentType = 'business';\n    const accountMeta = trackedAccountsMeta[author.toLowerCase()] || {};\n    const isThread = text.includes('\\ud83e\\uddf5') || /\\d+\\/\\d+/.test(text);\n    processed.push({ json: {\n      tweetId, text, author,\n      url: tweet.url || `https://twitter.com/${author}/status/${tweetId}`,\n      createdAt: tweet.createdAt, collectedAt: new Date().toISOString(),\n      viewCount: views, likeCount: likes, retweetCount: retweets,\n      replyCount: replies, quoteCount: quotes, bookmarkCount: bookmarks,\n      totalEngagement, compositeScore: scoreData.score, isCTAPost: scoreData.isCTAPost,\n      accountCategory: accountMeta.category || '', voiceAlignment: accountMeta.voiceAlignment || '',\n      hook: text.substring(0, 120), contentType,\n      formatType: isThread ? 'thread' : 'tweet',\n      isViralPattern: views >= 50000 || scoreData.score >= 50,\n      isThread: isThread,\n      mediaUrls: tweet.media?.map(m => m.url).filter(Boolean).join(', ') || '',\n      hashtags: (text.match(/#[\\w]+/g) || []).join(', ')\n    }});\n  });\n});\nconsole.log(`Tracked Accounts: Processed ${processed.length} tweets, skipped ${skippedIrrelevant} off-topic`);\nreturn processed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15888,
        15152
      ],
      "id": "65edaad7-29e8-411b-bbe7-fe569ea23648",
      "name": "Filter TA Tweets"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $json.data.defaultDatasetId }}",
        "fields": "id,text,createdAt,url,viewCount,likeCount,retweetCount,replyCount,quoteCount,bookmarkCount,author,media,hashtags,isRetweet,isReply",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        15680,
        15152
      ],
      "id": "ec34fd21-0186-46c1-8345-c846d6104634",
      "name": "Get TA Tweets Data",
      "credentials": {
        "apifyApi": {
          "id": "IQmRN7SmBpPsVvWX",
          "name": "test account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor",
        "actorId": {
          "__rl": true,
          "value": "61RPP7dywgiy0JPD0",
          "mode": "list",
          "cachedResultName": "tweet-scraper"
        },
        "build": "latest",
        "webhooks": "",
        "useCustomBody": true,
        "customBody": "={\n  \"customMapFunction\": \"(object) => { return { ...object } }\",\n  \"includeSearchTerms\": false,\n  \"minimumFavorites\": 100,\n  \"minimumReplies\": 10,\n  \"minimumRetweets\": 20,\n  \"onlyImage\": false,\n  \"onlyQuote\": false,\n  \"onlyTwitterBlue\": false,\n  \"onlyVerifiedUsers\": false,\n  \"onlyVideo\": false,\n  \"searchTerms\": {{ JSON.stringify($json.trackedAccounts.map(u => 'from:' + u)) }},\n  \"sort\": \"Latest\",\n  \"start\": \"{{ $json.startTime }}\",\n  \"tweetLanguage\": \"en\"\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        15472,
        15152
      ],
      "id": "933b2147-8fea-41ef-8437-5d9b65f6415a",
      "name": "Scrape Tracked Accounts",
      "credentials": {
        "apifyApi": {
          "id": "9zn2M8TmA5zEWa5g",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summary Statistics for Telegram Notification (Dynamic Version)\nconst inputData = $input.all();\n\nconst stats = {\n  totalTweets: inputData.length,\n  byAccount: {},\n  byStream: { myAccounts: 0, trackedAccounts: 0, viral: 0 },\n  totalViews: 0,\n  totalEngagement: 0,\n  totalBookmarks: 0,\n  avgCompositeScore: 0,\n  topTweet: null,\n  highestScore: 0\n};\n\n// Get my account tags for categorization\nconst myAccounts = $('Session Config').item.json.myAccounts || [];\nconst myAccountTagSet = new Set(myAccounts.map(a => a.accountTag));\n\nlet scoreSum = 0;\nlet scoreCount = 0;\n\ninputData.forEach(item => {\n  const tweet = item.json?.fields || item.json;\n  if (!tweet) return;\n\n  const views = tweet['View Count'] || tweet.viewCount || 0;\n  const engagement = tweet['Total Engagement'] || tweet.totalEngagement || 0;\n  const bookmarks = tweet['Bookmark Count'] || tweet.bookmarkCount || 0;\n  const compositeScore = tweet['Composite Score'] || tweet.compositeScore || 0;\n  const account = tweet.Account || tweet.account || 'Unknown';\n  const author = tweet.Author || tweet.author || account;\n\n  stats.totalViews += views;\n  stats.totalEngagement += engagement;\n  stats.totalBookmarks += bookmarks;\n\n  if (compositeScore > 0) {\n    scoreSum += compositeScore;\n    scoreCount++;\n  }\n\n  // Dynamic categorization by account\n  if (!stats.byAccount[account]) stats.byAccount[account] = 0;\n  stats.byAccount[account]++;\n\n  // Stream categorization\n  if (myAccountTagSet.has(account)) {\n    stats.byStream.myAccounts++;\n  } else if (tweet.nicheRelevanceScore || tweet['Niche Relevance Score']) {\n    stats.byStream.viral++;\n  } else {\n    stats.byStream.trackedAccounts++;\n  }\n\n  if (compositeScore > stats.highestScore) {\n    stats.highestScore = compositeScore;\n    stats.topTweet = {\n      account,\n      text: (tweet.Text || tweet.text || '').substring(0, 60) + '...',\n      score: compositeScore,\n      views\n    };\n  }\n});\n\nstats.avgCompositeScore = scoreCount > 0 ? (scoreSum / scoreCount).toFixed(1) : 0;\n\nconst formatNumber = (num) => num.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n\n// Build dynamic breakdown\nconst breakdownLines = Object.entries(stats.byAccount)\n  .sort((a, b) => b[1] - a[1])\n  .map(([account, count]) => `  * ${account}: ${count}`)\n  .join('\\n');\n\nconst message = `\\u{1F389} *X Research Complete*\n\n\\u{1F4CA} *Summary*\n\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\\u{2501}\n\\u{2705} Total: *${formatNumber(stats.totalTweets)}* tweets\n\n\\u{1F4C1} *By Stream:*\n\\u{2022} My Accounts: ${stats.byStream.myAccounts}\n\\u{2022} Tracked Accounts: ${stats.byStream.trackedAccounts}\n\\u{2022} Viral: ${stats.byStream.viral}\n\n\\u{1F464} *By Account:*\n${breakdownLines}\n\n\\u{1F4C8} *Metrics:*\n\\u{2022} Views: ${formatNumber(stats.totalViews)}\n\\u{2022} Engagement: ${formatNumber(stats.totalEngagement)}\n\\u{2022} Bookmarks: ${formatNumber(stats.totalBookmarks)}\n\\u{2022} Avg Score: ${stats.avgCompositeScore}/100\n\n\\u{1F3C6} *Top Tweet (Score: ${stats.highestScore}):*\n${stats.topTweet ? `${stats.topTweet.account}\\n\"${stats.topTweet.text}\"` : 'N/A'}\n\n\\u{23F0} ${new Date().toLocaleString('en-US', { timeZone: 'America/New_York', dateStyle: 'short', timeStyle: 'short' })}`;\n\nreturn { json: { text: message } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16528,
        14976
      ],
      "id": "8542426b-d57f-4462-b3c9-f9e10df2a026",
      "name": "Summary Stats"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16336,
        14976
      ],
      "id": "85a0f4c1-c6b2-4941-84f9-509d1cd70a38",
      "name": "Merge All Saves"
    },
    {
      "parameters": {
        "content": "## \ud83d\udccd Stream 3: Tracked Accounts\nScrapes tweets from tracked accounts (with category metadata)",
        "height": 308,
        "width": 840,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15408,
        15040
      ],
      "id": "1ed2006e-9c49-4bed-88c9-5ff0f58a2386",
      "name": "TA Tweets Note1"
    },
    {
      "parameters": {
        "content": "# X Research Pipeline (Fully Dynamic)\n\n**Daily Viral Content Research System**\n\n## How It Works:\nEach stream runs as an **independent parallel stream**:\n\n1. **All My Accounts** (Dynamic) \u2192 Scrape \u2192 Filter & Tag \u2192 Save to myAccountTweets\n2. **Tracked Accounts** \u2192 Scrape \u2192 Filter \u2192 Save to taTweets\n3. **Viral Content** \u2192 Scrape \u2192 Filter \u2192 Save to viralTweets\n\n## Dynamic Features:\n- **My Accounts from Airtable** - All active accounts scraped in one call\n- **Search Terms from Airtable** - Tier-based (primary/secondary/rotating)\n- **Tracked Accounts from Airtable** - With category & voice alignment\n\n## Schedule:\n- **Daily 8 AM**: Primary terms only\n- **Mon/Wed/Fri**: Primary + Secondary terms\n- **Sunday 6 PM**: Primary + Rotating terms\n\n## Benefits:\n- **Zero hardcoded names** - All config from Airtable\n- **Add/remove accounts** - Just edit Airtable, no workflow changes\n- **Unified myAccountTweets table** - All personal account tweets with Account Voice column\n- **Parallel processing** (faster!)",
        "height": 1272,
        "width": 976,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14160,
        14112
      ],
      "id": "73f34a85-cc72-40e3-9eb2-0ddd83b91ee2",
      "name": "Workflow Overview1"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd50 Schedule Triggers + Tier Context\n\n**Daily 8 AM**: Primary terms only\n**Mon/Wed/Fri**: Primary + Secondary\n**Sunday 6 PM**: Primary + Rotating\n\nEach trigger sets `termTier` variable which Session Config uses to filter search terms.",
        "height": 328,
        "width": 342
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13824,
        14896
      ],
      "id": "fa41780c-17f3-46d8-8601-a5be9dd64b52",
      "name": "Trigger Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": {},
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        14256,
        15232
      ],
      "id": "1d5f2e33-dc95-42b2-a24b-331562bccf85",
      "name": "Sunday 6pm - Rotating Terms"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tier-primary",
              "name": "termTier",
              "value": "primary",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14448,
        14832
      ],
      "id": "f24fe59d-7e37-42a5-81f8-748a57934eaf",
      "name": "Set Tier: Primary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tier-secondary",
              "name": "termTier",
              "value": "primary,secondary",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14448,
        15024
      ],
      "id": "db5f78bf-a884-498b-a81e-cc8c4f7c8b17",
      "name": "Set Tier: Primary+Secondary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tier-rotating",
              "name": "termTier",
              "value": "primary,rotating",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14448,
        15232
      ],
      "id": "bb754489-a368-4f47-89bd-1d17ab81e94b",
      "name": "Set Tier: Primary+Rotating"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appX3qB44SH5Svkay",
          "mode": "list",
          "cachedResultName": "X Research Base",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "table": {
          "__rl": true,
          "value": "tblFVUGDWHI93shn1",
          "mode": "list",
          "cachedResultName": "myAccounts",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "filterByFormula": "{Active} = TRUE()",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        14784,
        15232
      ],
      "id": "dbd7c9a3-8aaa-4b40-b9bc-a18ab74207e6",
      "name": "Get My Accounts",
      "credentials": {
        "airtableTokenApi": {
          "id": "K4gvRCfR7JWXPL1K",
          "name": "N8N - Agent-n - Main Integration"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        14256,
        14832
      ],
      "id": "ad7dc966-2e06-48bf-aded-7f5319860d92",
      "name": "Daily 8 AM - Primary Terms1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": {},
              "triggerAtDay": [
                1,
                3,
                5
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        14256,
        15024
      ],
      "id": "e21b37ad-662b-4e56-9938-d2ccb00f7e9d",
      "name": "Mon/Wed/Fri - Secondary Terms"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appX3qB44SH5Svkay",
          "mode": "list",
          "cachedResultName": "X Research Base",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "table": {
          "__rl": true,
          "value": "tblLJJvxTXf74T5Ww",
          "mode": "list",
          "cachedResultName": "trackedAccounts",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "filterByFormula": "AND({Active} = TRUE(), {Username} != '')",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Priority"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        14784,
        14832
      ],
      "id": "73a012c1-655a-42bd-8eea-cf91d8a897d7",
      "name": "Get Tracked Accounts",
      "credentials": {
        "airtableTokenApi": {
          "id": "K4gvRCfR7JWXPL1K",
          "name": "N8N - Agent-n - Main Integration"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appX3qB44SH5Svkay",
          "mode": "list",
          "cachedResultName": "X Research Base",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "table": {
          "__rl": true,
          "value": "tblKKkKESC83u1hk8",
          "mode": "list",
          "cachedResultName": "myTweets",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE"
        },
        "returnAll": false,
        "limit": 1,
        "options": {
          "fields": [
            "Collected At"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "Collected At",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        14784,
        15024
      ],
      "id": "5bb91218-50e1-458b-a5a7-d5abc25ed722",
      "name": "Get Last Collection",
      "credentials": {
        "airtableTokenApi": {
          "id": "K4gvRCfR7JWXPL1K",
          "name": "N8N - Agent-n - Main Integration"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        15024,
        15008
      ],
      "id": "9eda7132-c80c-494f-8372-e6ae53c435c7",
      "name": "Merge Config Data"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SESSION CONFIG - FULLY DYNAMIC VERSION\n// ============================================\n// All accounts, search terms, and tracked accounts\n// are pulled from Airtable. No hardcoded names.\n// ============================================\n\nconst now = new Date();\nconst inputData = $input.all();\n\n// ============================================\n// EXTRACT MY ACCOUNTS FROM myAccounts TABLE\n// ============================================\nconst myAccountsData = inputData.filter(item =>\n  item.json.Voice && item.json.Username && item.json.Active\n);\n\n// Build dynamic array of all my accounts - NO hardcoding\n// AccountTag comes from Airtable (e.g., \"nozTweets\", \"wwTweets\", \"jbTweets\")\nconst myAccounts = myAccountsData.map(a => ({\n  username: a.json.Username,\n  voice: a.json.Voice,\n  accountTag: a.json.accountTag || a.json.AccountTag || a.json['Account Tag'] || (a.json.Voice.replace(/\\s+/g, '') + 'Tweets')\n}));\n\nconst myAccountUsernames = myAccounts.map(a => a.username);\n\nconsole.log('=== MY ACCOUNTS (DYNAMIC) ===');\nconsole.log('Count:', myAccounts.length);\nconsole.log('Accounts:', JSON.stringify(myAccounts));\n\n// ============================================\n// EXTRACT SEARCH TERMS FROM searchTerms TABLE\n// ============================================\nconst searchTermsData = inputData.filter(item =>\n  item.json.Term && item.json.Tier && item.json.Active\n);\n\nconst tierContext = inputData.find(item => item.json.termTier)?.json.termTier || 'primary';\nconst allowedTiers = tierContext.split(',');\n\nconsole.log('=== SEARCH TERMS ===');\nconsole.log('Tier Context:', tierContext);\nconsole.log('Allowed Tiers:', allowedTiers);\n\nconst filteredTerms = searchTermsData.filter(item =>\n  allowedTiers.includes(item.json.Tier)\n);\n\nconst searchTermsWithMeta = filteredTerms.map(item => ({\n  term: item.json.Term,\n  tier: item.json.Tier,\n  intent: item.json.Intent,\n  category: item.json.Category\n}));\n\nconst viralSearchTerms = searchTermsWithMeta.map(t => t.term);\n\nconsole.log('Filtered Terms Count:', viralSearchTerms.length);\nconsole.log('Terms by Tier:', {\n  primary: filteredTerms.filter(t => t.json.Tier === 'primary').length,\n  secondary: filteredTerms.filter(t => t.json.Tier === 'secondary').length,\n  rotating: filteredTerms.filter(t => t.json.Tier === 'rotating').length\n});\n\n// ============================================\n// EXTRACT TRACKED ACCOUNTS FROM trackedAccounts TABLE\n// ============================================\nconst trackedAccountsData = inputData.filter(item =>\n  item.json.Username &&\n  item.json.Priority &&\n  item.json.Active &&\n  !item.json.Voice\n);\n\nconst trackedAccounts = trackedAccountsData.map(item => item.json.Username);\n\nconst trackedAccountsWithMeta = trackedAccountsData.map(item => ({\n  username: item.json.Username,\n  category: item.json.Category,\n  voiceAlignment: item.json['Voice Alignment'],\n  priority: item.json.Priority,\n  focus: item.json.Focus || ''\n}));\n\nconsole.log('=== TRACKED ACCOUNTS ===');\nconsole.log('Tracked Accounts Count:', trackedAccounts.length);\nconsole.log('First 10:', trackedAccounts.slice(0, 10));\n\n// ============================================\n// TIME RANGE CALCULATION\n// ============================================\nconst collectedAtData = inputData.find(item => item.json['Collected At']);\n\nlet startTime = new Date(now);\nstartTime.setDate(startTime.getDate() - 7);\n\nif (collectedAtData?.json['Collected At']) {\n  const lastCollected = new Date(collectedAtData.json['Collected At']);\n  startTime = new Date(lastCollected);\n  startTime.setDate(startTime.getDate() - 7);\n}\n\n// Pad month/day to 2 digits for consistent date format\nconst formatDate = (date) => {\n  const y = date.getFullYear();\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const d = String(date.getDate()).padStart(2, '0');\n  return `${y}-${m}-${d}`;\n};\n\nconsole.log('=== TIME RANGE ===');\nconsole.log('Start Time:', formatDate(startTime));\nconsole.log('End Time:', formatDate(now));\n\n// ============================================\n// OUTPUT - FULLY DYNAMIC\n// ============================================\nreturn {\n  json: {\n    myAccounts,\n    myAccountUsernames,\n    trackedAccounts,\n    trackedAccountsWithMeta,\n    viralSearchTerms,\n    searchTermsWithMeta,\n    tierContext,\n    startTime: formatDate(startTime),\n    endTime: formatDate(now),\n    sessionId: `x_research_${Date.now()}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15248,
        15024
      ],
      "id": "08b2b9bd-7de7-4cbb-9c4b-5e782f45d676",
      "name": "Session Config"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        14016,
        14736
      ],
      "id": "2444bed3-3752-4bfc-ad49-32e568c79ae5",
      "name": "Daily 7pm - Primary Terms"
    }
  ],
  "connections": {
    "Filter & Tag My Account Tweets": {
      "main": [
        [
          {
            "node": "Save to myAccountTweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Account Data": {
      "main": [
        [
          {
            "node": "Filter & Tag My Account Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape All My Accounts": {
      "main": [
        [
          {
            "node": "Get My Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter TA Tweets": {
      "main": [
        [
          {
            "node": "Save to taTweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TA Tweets Data": {
      "main": [
        [
          {
            "node": "Filter TA Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Tracked Accounts": {
      "main": [
        [
          {
            "node": "Get TA Tweets Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to myAccountTweets": {
      "main": [
        [
          {
            "node": "Merge All Saves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to taTweets": {
      "main": [
        [
          {
            "node": "Merge All Saves",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Saves": {
      "main": [
        [
          {
            "node": "Summary Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sunday 6pm - Rotating Terms": {
      "main": [
        [
          {
            "node": "Set Tier: Primary+Rotating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tier: Primary": {
      "main": [
        [
          {
            "node": "Get Tracked Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get My Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tier: Primary+Secondary": {
      "main": [
        [
          {
            "node": "Get Tracked Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get My Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tier: Primary+Rotating": {
      "main": [
        [
          {
            "node": "Get Tracked Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get My Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Accounts": {
      "main": [
        [
          {
            "node": "Merge Config Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Daily 8 AM - Primary Terms1": {
      "main": [
        [
          {
            "node": "Set Tier: Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mon/Wed/Fri - Secondary Terms": {
      "main": [
        [
          {
            "node": "Set Tier: Primary+Secondary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tracked Accounts": {
      "main": [
        [
          {
            "node": "Merge Config Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Collection": {
      "main": [
        [
          {
            "node": "Merge Config Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Config Data": {
      "main": [
        [
          {
            "node": "Session Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Config": {
      "main": [
        [
          {
            "node": "Scrape Tracked Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape All My Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 7pm - Primary Terms": {
      "main": [
        [
          {
            "node": "Set Tier: Primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 60,
    "timeSavedMode": "fixed",
    "errorWorkflow": "rNbwKO00WlrMdWEc"
  },
  "staticData": {
    "node:Daily Research (8 AM)": {
      "recurrenceRules": [
        336
      ]
    },
    "node:Sunday 6pm - Rotating Terms": {
      "recurrenceRules": [
        5
      ]
    },
    "node:Daily 8 AM - Primary Terms1": {
      "recurrenceRules": []
    },
    "node:Mon/Wed/Fri - Secondary Terms": {
      "recurrenceRules": [
        5
      ]
    },
    "node:Daily 8 AM - Primary Terms": {
      "recurrenceRules": []
    },
    "node:Daily 7pm - Primary Terms": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 278,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2025-07-16T11:52:28.285Z",
      "createdAt": "2025-07-16T11:52:28.285Z",
      "role": "workflow:owner",
      "workflowId": "FBX6hoUGfpQlQOwZ",
      "projectId": "3PTcJ2mMcVduDkV6",
      "project": {
        "updatedAt": "2025-04-23T19:12:24.962Z",
        "createdAt": "2025-04-23T19:10:00.223Z",
        "id": "3PTcJ2mMcVduDkV6",
        "name": "YOUR_CREDENTIAL_HERE",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c59b8fe8-021b-47c6-bde5-5b2ca7aae876"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}