linkedin-lead-generation/workflows/linkedin-lead-generation-main.json
{
  "updatedAt": "2025-06-05T11:49:17.426Z",
  "createdAt": "2025-05-30T20:02:35.757Z",
  "name": "LinkedIn Lead Generation",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "e98ab118-3186-4f4f-8443-cf89f784ef5e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2260,
        1340
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"salesNavigatorParams\": {\n      \"current_titles\": \"title1\",\n      \"current_companies\": \"company1\",\n      \"location\": \"location1\",\n      \"industry\": \"industry1\",\n      \"company_sizes\": [\n        \"Self-employed\",\n        \"1-10\",\n        \"11-50\",\n        \"51-200\",\n        \"201-500\",\n        \"501-1,000\",\n        \"1,001-5,000\",\n        \"5,001-10,000\",\n        \"10,001+\"\n      ]\n    },\n    \"count\": 10\n  },\n  {\n    \"salesNavigatorParams\": {\n      \"current_titles\": \"title2\",\n      \"current_companies\": \"company2\",\n      \"location\": \"location2\",\n      \"industry\": \"industry2\",\n      \"company_sizes\": [\n        \"Self-employed\",\n        \"1-10\",\n        \"11-50\",\n        \"51-200\",\n        \"201-500\",\n        \"501-1,000\",\n        \"1,001-5,000\",\n        \"5,001-10,000\",\n        \"10,001+\"\n      ]\n    },\n    \"count\": 10\n  }\n]"
      },
      "id": "9f43af57-9993-47d2-ad81-2063ad7a8e07",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -2060,
        1340
      ],
      "notesInFlow": true,
      "typeVersion": 1.2,
      "notes": "For changing limits use \"count\""
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Read companies').item.json.URN }}",
            "Website": "={{ $json.website }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Lead Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Request",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Contact Request",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Connected",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Connected",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e2ff9982-f303-4d45-803a-8c8570fc363a",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -340,
        2160
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "d700c95a-57ab-431c-af78-3138fe245bba",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -840,
        1760
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "Find leads in LinkedIn",
        "width": 1320,
        "color": 4
      },
      "id": "e80da770-9fdf-40fd-97f4-f04e9e3e40b2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2340,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get company website ",
        "width": 980,
        "color": 4
      },
      "id": "801e64a7-ca69-4a05-9cef-6492cf517b67",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Research company website",
        "width": 1520,
        "color": 4
      },
      "id": "4239908e-8c78-4209-9e6b-d4c36ce52fcb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Score data",
        "width": 980,
        "color": 4
      },
      "id": "371c2a73-ea8d-4d87-81da-bd846510125d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Communicate with leads",
        "width": 1860,
        "color": 4
      },
      "id": "eef5e582-8643-4d9b-9d41-f59e169fc5e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Research lead LN post",
        "width": 1520,
        "color": 4
      },
      "id": "b9ad87bf-3bfb-4e8d-838c-c27a4dffcfac",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Research company LN post",
        "width": 1520,
        "color": 4
      },
      "id": "c0bc263d-051c-41cf-be97-bd3c4118b176",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Research company News",
        "width": 1520,
        "color": 4
      },
      "id": "ae274068-28d4-41ab-abca-f0c68d4f7863",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "076ab4d1-4671-430e-b77e-9588093c94d5",
      "name": "HDW LinkedIn SN",
      "type": "n8n-nodes-hdw.hdwLinkedin",
      "position": [
        -1740,
        1140
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "f2a8ffc9-e869-4616-a955-d62264d73785",
      "name": "HDW Get Company Website",
      "type": "n8n-nodes-hdw.hdwLinkedin",
      "position": [
        -480,
        2020
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "4b70865d-eefa-451d-91a1-575a50f98213",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        80,
        960
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8c64da33-3b00-47d9-9fba-1e3ff9c0ce05",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        600,
        940
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "e7adc229-c485-4a59-8b7c-89457466a874",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        100,
        1500
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "id": "253eb0cb-4476-4223-91dd-00da35a9f5fc",
      "name": "HDW Get User Posts",
      "type": "n8n-nodes-hdw.hdwLinkedin",
      "position": [
        740,
        1540
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            },
            {
              "fieldToAggregate": "repost.text",
              "renameField": true,
              "outputFieldName": "repost"
            }
          ]
        },
        "options": {}
      },
      "id": "54eee971-aa9c-43fc-aba2-7a0cb3b269e7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        920,
        1540
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2f9a7b88-749e-47b5-8480-692cc5deba21",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        580,
        1380
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Post summary is empty').item.json.URN }}",
            "Posts summary": "={{ $json.message.content }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ad1ae995-4120-4b4a-897c-5df2cc5b0c55",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1420,
        1540
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "65ecb535-d375-4947-9de0-df3e5d6fec46",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        100,
        1960
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "description"
            }
          ]
        },
        "options": {}
      },
      "id": "c653266d-d27d-448e-b0a4-c87849a9abf6",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        920,
        1960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f699e67-7f22-408f-94d3-ab937ee86320",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        580,
        1800
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Company news is empty').item.json.URN }}",
            "Company News": "={{ $json.message.content }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "986df124-4ae7-4fb6-bd49-1cc42e5760b0",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1440,
        1960
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "6f48231f-2fa8-44ba-9ffd-19b88ca9dff4",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        100,
        2460
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "7a45d6f2-0f0a-4454-8917-e8b4f58c9a31",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        920,
        2460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bee0a806-a8ba-4470-aa1f-1655d8416911",
      "name": "Loop Over Items4",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        580,
        2320
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Company post is empty').item.json.URN }}",
            "Company post summary": "={{ $('Summarise company posts').item.json.message.content }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "38f76f61-1c9d-4255-b545-916a86709ece",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1440,
        2460
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "81447ba4-bcab-4693-a9ab-f85368702d68",
      "name": "HDW Get Company News",
      "type": "n8n-nodes-hdw.hdwLinkedin",
      "position": [
        740,
        1960
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "a3097355-05be-4e9d-bf36-a536b8b889dc",
      "name": "HDW Get Company Posts",
      "type": "n8n-nodes-hdw.hdwLinkedin",
      "position": [
        740,
        2460
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "5b8d629d-5d23-4e67-86d6-22130ab05c1a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1920,
        1140
      ],
      "retryOnFail": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "ed8fc92b-ae0a-43a9-bbf9-80958f593b33",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        800,
        1200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Website is not empty').item.json.URN }}",
            "Product Summary": "={{ $json.output }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8f32ebf6-0889-4f46-ade8-090e998046d7",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1400,
        940
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "fef687fd-d186-4ef4-ab4d-c8eec933cbb3",
      "name": "HDW Site-map",
      "type": "n8n-nodes-hdw.hdwWebParserTool",
      "position": [
        1120,
        1200
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "1dbe7b1b-eea0-4848-a6ae-61184d5af41e",
      "name": "HDW Parser",
      "type": "n8n-nodes-hdw.hdwWebParserTool",
      "position": [
        1280,
        1200
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Make summary of this text:\n {{ $json.text }}\n{{ $json.repost }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9605d883-b80e-45b0-af43-a756e3a4ad01",
      "name": "Summarise user posts",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1080,
        1540
      ],
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Make summary of this news:\n{{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51570c45-f27e-4450-9e1e-fd3fb520580d",
      "name": "Summarise company news",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1100,
        1960
      ],
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Make summary of this company posts:\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb30a8fb-fa34-4d34-8f15-127731c1889b",
      "name": "Summarise company posts",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1100,
        2460
      ],
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research company website {{ $json.Website }} and get summary about business and products\n1. Get site-map with the tool\n2. Define what links may contain data about company business and products\n3. Scrape data for every links\n4. Summarize info from website ",
        "options": {}
      },
      "id": "88f3d045-6e0e-4357-b0f3-cc6d0980ff45",
      "name": "Summarise company website",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        880,
        940
      ],
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "ad181a7f-9365-485e-9f2e-f5fea775f963",
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1800,
        1820
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "8aef6db1-758f-4b53-8cc5-7a5f83edf6fc",
      "name": "Loop Over Items6",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2140,
        1700
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Google Sheets11').item.json.URN }}",
            "Lead Score": "={{ $json.message.content }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Lead Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "995436b7-32b1-40a5-a6ef-611c9754ea45",
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2640,
        1820
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "39a57dd1-18de-4940-ab6c-ad42ca6d9884",
      "name": "Google Sheets13",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3140,
        1200
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Lead Score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "aeb39ea3-2cfb-4044-b144-998fbcaadda2",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "position": [
        3360,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "140d284f-34c0-4bf4-bb88-b0a9bdbc80f7",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Contact Request\"] }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2c627ed9-79c7-4f42-ba97-550f22144c0a",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        3560,
        1200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "id": "447eca52-9ada-47d5-8512-776111a4c4f5",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        3780,
        1100
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "max 200 per week"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "235f4281-174d-4940-adf0-169226604c0c",
      "name": "Loop Over Items7",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        3920,
        1320
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Google Sheets13').item.json.URN }}",
            "Contact Request": "TRUE"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Lead Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Request",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Contact Request",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Connected",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Connected",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c9e1a315-6466-4e3f-8afa-ed01a3b09882",
      "name": "Google Sheets14",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4460,
        1340
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $json.urn.type }}:{{ $json.urn.value }}",
            "Connected": "TRUE"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Lead Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Request",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Contact Request",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Connected",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Connected",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2da6e81-d44d-40ad-862c-ff84eb06cd82",
      "name": "Google Sheets15",
      "type": "n8n-nodes-base.googleSheets",
      "maxTries": 5,
      "position": [
        3620,
        1620
      ],
      "notesInFlow": false,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "alwaysOutputData": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URN": "={{ $('Google Sheets16').item.json.URN }}",
            "Message Sent": "TRUE",
            "Messages History": "={{ $json.text }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Posts summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Product Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company News",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company News",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company post summary",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Company post summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Lead Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Request",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Contact Request",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Connected",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Connected",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message Sent",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Message Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Messages History",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Messages History",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d689f327-57a3-4214-adde-28ac9b6125c7",
      "name": "Google Sheets17",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4780,
        2320
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5b140d90-4dfb-4d1d-b091-bae99c1187bc",
      "name": "Loop Over Items8",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        3960,
        2060
      ],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "8f5dbc41-3a4e-4ac4-a6c1-2fff101219e5",
      "name": "HDW LinkedIn Send Message",
      "type": "n8n-nodes-hdw.hdwLinkedinManagement",
      "position": [
        4520,
        2200
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "126fd132-ff19-4383-af06-816ff78ef03d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2700,
        1200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "513bd232-bae4-43fa-9eb3-a2a1acacab73",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2980,
        1640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# LinkedIn Lead Automation Flow\n\nThis flow is designed to automate working with leads on LinkedIn from the process of finding leads according to ICP (Ideal Customer Profile) to sending messages in chat.\n\n## Stages:\n1. Building search filters based on your ICP\n2. Searching LinkedIn using these filters\n3. Saving the list of leads in Google Spreadsheet\n4. Data enrichment\n  \u2022 Company website\n  \u2022 Intent search in lead's posts\n  \u2022 Intent search in company posts\n  \u2022 Analysis of company news\n  \u2022 Analysis of company website\n5. Scoring information about the lead to prioritize interaction\n6. Adding the lead to LinkedIn connections\n7. Checking for reciprocal connection\n8. Writing messages\n\n## Requirements:\n1. Access to LLM (the example uses OpenAI API)\n2. Access to Google Drive\n3. API key for horizondatawave.ai\n4. LinkedIn account",
        "height": 640,
        "width": 620,
        "color": 7
      },
      "id": "8f264bc0-6093-4dff-b753-6acf144456dc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3220,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node - an AI agent transforms your ICP description into filters for querying data in LinkedIn",
        "height": 80,
        "width": 300,
        "color": 7
      },
      "id": "338cc031-dc1c-4e59-8c47-0d7328b23711",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2020,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Data is requested through the HDW API for each filter and saved in Google Sheets.",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "id": "c0b680b8-ae82-41c2-8e99-74162bde15a6",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1300,
        1420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "At this stage, the presence of the company name in the lead's profile is verified, and a website search is performed for each company",
        "height": 120,
        "width": 320,
        "color": 7
      },
      "id": "d056eb4a-5d22-4433-9148-8dcb9aa14a7a",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can modify the prompt here so that at this stage the search corresponds to your product. \nFor example, you can explicitly mark mentions of certain topics, locations, or other entities.",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "74c04a1a-1f25-411d-81ed-d2d4bcfe5b40",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can modify the prompt here so that at this stage the search corresponds to your product. \nFor example, you can explicitly mark mentions of certain topics, locations, or other entities.",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "dd19ec9d-1b86-46e7-ba74-a1042a20169f",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        1400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can modify the prompt here so that at this stage the search corresponds to your product. \nFor example, you can explicitly mark mentions of certain topics, locations, or other entities.",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "c023f59e-7cf0-4e13-b50e-4a8db8983281",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can modify the prompt here so that at this stage the search corresponds to your product. \nFor example, you can explicitly mark mentions of certain topics, locations, or other entities.",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "bbb8e78d-8b78-4866-8046-7aaf9b02de9d",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can also change the scoring criteria to assess the probability of need based on your product or business by adjusting the prompt in this node",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "d6ab2690-e9d6-4625-8d20-c86f63580ab2",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2260,
        1700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Here you can change the number of connection requests. It is not recommended to add more than 200 connections per week.",
        "height": 100,
        "width": 360,
        "color": 5
      },
      "id": "d55e122e-1b6c-4cc6-a82a-a8198d3f8db0",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3660,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "In this node, you need to modify the message that will be automatically sent to the user after the connection is confirmed.",
        "height": 100,
        "width": 360,
        "color": 3
      },
      "id": "d9712457-cdf4-4c79-bf9e-06dc51f91387",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4420,
        2060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Change the schedule for when connection requests will be sent.",
        "height": 80,
        "width": 180,
        "color": 3
      },
      "id": "d4ebf6bf-53ac-42ed-a409-e1836d55b6e3",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2680,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Change the schedule for when connection request responses will be checked and messages will be sent.",
        "height": 100,
        "width": 200,
        "color": 3
      },
      "id": "fedd2bd0-6ccb-4f07-9db0-54af2ee8af8c",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3100,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5f81ec20-cf58-4335-b970-8cc8ff0ceb91",
      "name": "HDW Get LinkedIn Profile Connections",
      "type": "n8n-nodes-hdw.hdwLinkedinManagement",
      "maxTries": 5,
      "position": [
        3320,
        1620
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "e053dcd5-d5aa-457a-9bab-e3892868e2c5",
      "name": "HDW Send LinkedIn Connection",
      "type": "n8n-nodes-hdw.hdwLinkedinManagement",
      "maxTries": 5,
      "position": [
        4200,
        1280
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ICP  description - {{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Your task is to analyze an ICP (Ideal Customer Profile) description and convert it into LinkedIn Sales Navigator search parameters that are compatible with the HDW LinkedIn node in n8n.\n\n\u2e3b\n\nHard rules (do not break them)\n\t1.\tNo guesswork.\n\t\u2022\tNever invent new values for location, industry, current_companies, or any other field. Use only what is explicitly present in the ICP.\n\t2.\tReal companies only.\n\t\u2022\tThe current_companies field may contain only company names that are directly mentioned in the ICP.\n\t3.\tNo fabricated locations.\n\t\u2022\tIn location, specify only countries or cities that appear in the ICP.\n\t4.\t\u201cSmart\u201d filter combinations.\n\t\u2022\tIf the ICP includes several locations and/or industries, generate multiple objects (filters)\u2014one for each unique combination of actual values (do not create combinations that do not exist in the ICP).\n\t\u2022\tReturn a maximum of 10 filters in one response.\n\t5.\tOmit undefined data.\n\t\u2022\tIf a field is missing in the ICP, omit that key entirely (do not output null, empty strings, or empty arrays).\n\n\t7.\tIndustry list only.\n\t\u2022\tFor industry, you may use only the names from the approved list (see below). Try with different industries in different filters\n\t8.\tJSON validation.\n\t\u2022\tThe final answer must be a valid JSON array in the exact structure shown under \u201cResponse Format.\u201d\n\t9.\tUp to 10 filters.\n\t\u2022\tYou may return no more than ten filter objects per ICP request.\n\t10.\tUnclear roles \u2192 multiple title variants.\n\t\u2022\tIf job roles/titles are not specified precisely in the ICP (e.g., only a function or department is mentioned), create several filters that cover plausible title variants.\n\t\u2022\tEach variant goes into its own filter object (or grouped logically if other parameters are identical), still respecting the overall limit of 10 filters.\n\t\u2022\tUse common, realistic synonyms or seniority variations relevant to the ICP \n\t\u2022\tDo not invent wholly unrelated titles; stay within the role scope implied by the ICP.\n\nResponse Format\n\nReturn only a JSON array with no comments, explanations, or extra text. Each object represents one filter.\n\n[\n  {\n    \"salesNavigatorParams\": {\n      \"current_titles\": \"title1\",\n      \"current_companies\": \"company1\",\n      \"location\": \"location1\",\n      \"industry\": \"industry1\",\n      \"company_sizes\": [\n        \"Self-employed\",\n        \"1-10\",\n        \"11-50\",\n        \"51-200\",\n        \"201-500\",\n        \"501-1,000\",\n        \"1,001-5,000\",\n        \"5,001-10,000\",\n        \"10,001+\"\n      ]\n    },\n    \"count\": 10\n  },\n  {\n    \"salesNavigatorParams\": {\n      \"current_titles\": \"title2\",\n      \"current_companies\": \"company2\",\n      \"location\": \"location2\",\n      \"industry\": \"industry2\",\n      \"company_sizes\": [\n        \"Self-employed\",\n        \"1-10\",\n        \"11-50\",\n        \"51-200\",\n        \"201-500\",\n        \"501-1,000\",\n        \"1,001-5,000\",\n        \"5,001-10,000\",\n        \"10,001+\"\n      ]\n    },\n    \"count\": 10\n  }\nother filters\n]\n\nImportant: If a field does not apply, omit it entirely. For example, if company size is not specified, remove the whole company_sizes block.\n\n\n\u2022 (Allowed values for industry) If you need industry name use one from this list closer to the user request:\nChiropractors \nDefense and Space Manufacturing\nOptometrists\nComputer Hardware Manufacturing\nSoftware Development\nComputer Networking Products\nTransportation Equipment Manufacturing\nTechnology, Information and Internet\nPhysical, Occupational and Speech Therapists\nSemiconductor Manufacturing\nTelecommunications\nLaw Practice\nHousing Programs\nLegal Services\nBusiness Consulting and Services\nBiotechnology Research\nFamily Planning Centers\nMedical Practices\nTransportation Programs\nHospitals and Health Care\nUtilities Administration\nPharmaceutical Manufacturing\nOutpatient Care Centers\nVeterinary Services\nMedical Equipment Manufacturing\nSpace Research and Technology\nMotor Vehicle Parts Manufacturing\nPersonal Care Product Manufacturing\nRetail Apparel and Fashion\nSporting Goods Manufacturing\nTobacco Manufacturing\nMedical and Diagnostic Laboratories\nRetail Groceries\nFood and Beverage Manufacturing\nOil Extraction\nComputers and Electronics Manufacturing\nNatural Gas Extraction\nManufacturing\nFurniture and Home Furnishings Manufacturing\nHome Health Care Services\nRetail\nEmbedded Software Products\nEntertainment Providers\nMobile Computing Software Products\nGambling Facilities and Casinos\nAmbulance Services\nDesktop Computing Software Products\nIT System Custom Software Development\nTravel Arrangements\nIT System Operations and Maintenance\nHospitality\nIT System Installation and Disposal\nRestaurants\nIT System Training and Support\nHospitals\nSpectator Sports\nIT System Data Services\nFood and Beverage Services\nIT System Testing and Evaluation\nMovies, Videos, and Sound\nBroadcast Media Production and Distribution\nMuseums, Historical Sites, and Zoos\nArtists and Writers\nPerforming Arts\nRecreational Facilities\nBanking\nInsurance\nNursing Homes and Residential Care Facilities\nFinancial Services\nReal Estate\nInvestment Banking\nInvestment Management\nAccounting\nConstruction\nWholesale Building Materials\nArchitecture and Planning\nCivil Engineering\nInternet News\nAviation and Aerospace Component Manufacturing\nBlogs\nMotor Vehicle Manufacturing\nInterior Design\nChemical Manufacturing\nSocial Networking Platforms\nMachinery Manufacturing\nHousehold and Institutional Furniture Manufacturing\nBusiness Intelligence Platforms\nMining\nBusiness Content\nOil and Gas\nData Security Software Products\nShipbuilding\nUtilities\nMobile Gaming Apps\nTextile Manufacturing\nInternet Publishing\nPaper and Forest Product Manufacturing\nMedia and Telecommunications\nRailroad Equipment Manufacturing\nBlockchain Services\nFarming\nServices for the Elderly and Disabled\nRanching\nDairy Product Manufacturing\nOffice Furniture and Fixtures Manufacturing\nFisheries\nCommunity Services\nPrimary and Secondary Education\nHigher Education\nEducation Administration Programs\nResearch Services\nMattress and Blinds Manufacturing\nArmed Forces\nLegislative Offices\nAdministration of Justice\nInternational Affairs\nEmergency and Relief Services\nGovernment Administration\nExecutive Offices\nLaw Enforcement\nVocational Rehabilitation Services\nPublic Safety\nPublic Policy Offices\nAdvertising Services\nChild Day Care Services\nNewspaper Publishing\nPerforming Arts and Spectator Sports\nBook and Periodical Publishing\nPrinting Services\nInformation Services\nLibraries\nTheater Companies\nEnvironmental Services\nFreight and Package Transportation\nDance Companies\nIndividual and Family Services\nReligious Institutions\nCivic and Social Organizations\nConsumer Services\nCircuses and Magic Shows\nTruck Transportation\nWarehousing and Storage\nSports Teams and Clubs\nAirlines and Aviation\nMaritime Transportation\nRacetracks\nIT Services and IT Consulting\nMarket Research\nPublic Relations and Communications Services\nDesign Services\nNon-profit Organizations\nFundraising\nStrategic Management Services\nWriting and Editing\nStaffing and Recruiting\nWholesale Motor Vehicles and Parts\nProfessional Training and Coaching\nVenture Capital and Private Equity Principals\nPolitical Organizations\nTranslation and Localization\nComputer Games\nEvents Services\nRetail Art Supplies\nMuseums\nAppliances, Electrical, and Electronics Manufacturing\nOnline Audio and Video Media\nWholesale Furniture and Home Furnishings\nHistorical Sites\nNanotechnology Research\nRetail Art Dealers\nMusicians\nZoos and Botanical Gardens\nTransportation, Logistics, Supply Chain and Storage\nPlastics Manufacturing\nComputer and Network Security\nWireless Services\nAmusement Parks and Arcades\nAlternative Dispute Resolution\nSecurity and Investigations\nFacilities Services\nOutsourcing and Offshoring Consulting\nWellness and Fitness Services\nAlternative Medicine\nMedia Production\nAnimation and Post-production\nLeasing Non-residential Real Estate\nCapital Markets\nWholesale Photography Equipment and Supplies\nThink Tanks\nPhilanthropic Fundraising Services\nGolf Courses and Country Clubs\nE-Learning Providers\nWholesale\nWholesale Computer Equipment\nSkiing Facilities\nWholesale Import and Export\nIndustrial Machinery Manufacturing\nPhotography\nHuman Resources Services\nRetail Office Equipment\nMental Health Care\nGraphic Design\nInternational Trade and Development\nBeverage Manufacturing\nAccommodation and Food Services\nWholesale Metals and Minerals\nRetail Luxury Goods and Jewelry\nGlass, Ceramics and Concrete Manufacturing\nPackaging and Containers Manufacturing\nHotels and Motels\nAutomation Machinery Manufacturing\nWholesale Appliances, Electrical, and Electronics\nGovernment Relations Services\nBed-and-Breakfasts, Hostels, Homestays\nHorticulture\nWholesale Hardware, Plumbing, Heating Equipment\nWholesale Machinery\nCaterers\nMobile Food Services\nRenewable Energy Power Generation\nBars, Taverns, and Nightclubs\nRenewable Energy Equipment Manufacturing\nEngineering Services\nServices for Renewable Energy\nDigital Accessibility Services\nAccessible Hardware Manufacturing\nAccessible Architecture and Design\nRobot Manufacturing\nRobotics Engineering\nRepair and Maintenance\nSurveying and Mapping Services\nVehicle Repair and Maintenance\nRetail Pharmacies\nClimate Technology Product Manufacturing\nClimate Data and Analytics\nAlternative Fuel Vehicle Manufacturing\nWholesale Recyclable Materials\nSmart Meter Manufacturing\nFuel Cell Manufacturing\nWholesale Luxury Goods and Jewelry\nRegenerative Design\nFuneral Services\nDeath Care Services\nEnergy Technology\nWholesale Paper Products\nElectronic and Precision Equipment Maintenance\nWholesale Drugs and Sundries\nWholesale Apparel and Sewing Supplies\nCommercial and Industrial Machinery Maintenance\nFarming, Ranching, Forestry\nReupholstery and Furniture Repair\nWholesale Footwear\nWholesale Food and Beverage\nFootwear and Leather Goods Repair\nPersonal and Laundry Services\nPersonal Care Services\nLaundry and Drycleaning Services\nWholesale Raw Farm Products\nWholesale Chemical and Allied Products\nPet Services\nWholesale Petroleum and Petroleum Products\nWholesale Alcoholic Beverages\nRanching and Fisheries\nInternet Marketplace Platforms\nRetail Motor Vehicles\nHousehold Services\nRetail Furniture and Home Furnishings\nRetail Appliances, Electrical, and Electronic Equipment\nForestry and Logging\nRetail Building Materials and Garden Equipment\nHealth and Human Services\nPublic Health\nPublic Assistance Programs\nFood and Beverage Retail\nAir, Water, and Waste Program Management\nConservation Programs\nHousing and Community Development\nCommunity Development and Urban Planning\nEconomic Programs\nOil, Gas, and Mining\nRetail Health and Personal Care Products\nCoal Mining\nMilitary and International Affairs\nMetal Ore Mining\nRetail Gasoline\nOperations Consulting\nNonmetallic Mineral Mining\nElectric Power Transmission, Control, and Distribution\nRetail Musical Instruments\nElectric Power Generation\nHydroelectric Power Generation\nRetail Books and Printed News\nFossil Fuel Electric Power Generation\nNuclear Electric Power Generation\nSolar Electric Power Generation\nEnvironmental Quality Programs\nGeothermal Electric Power Generation\nBiomass Electric Power Generation\nNatural Gas Distribution\nWater, Waste, Steam, and Air Conditioning Services\nRetail Florists\nRetail Office Supplies and Gifts\nWater Supply and Irrigation Systems\nSteam and Air-Conditioning Supply\nBuilding Construction\nRetail Recyclable Materials & Used Merchandise\nResidential Building Construction\nData Infrastructure and Analytics\nNonresidential Building Construction\nUtility System Construction\nElectrical Equipment Manufacturing\nOnline and Mail Order Retail\nSubdivision of Land\nHighway, Street, and Bridge Construction\nSpecialty Trade Contractors\nBuilding Structure and Exterior Contractors\nWind Electric Power Generation\nWineries\nBuilding Equipment Contractors\nRail Transportation\nBuilding Finishing Contractors\nGround Passenger Transportation\nUrban Transit Services\nInterurban and Rural Bus Services\nTaxi and Limousine Services\nAnimal Feed Manufacturing\nSchool and Employee Bus Services\nShuttles and Special Needs Transportation Services\nSugar and Confectionery Product Manufacturing\nPipeline Transportation\nFruit and Vegetable Preserves Manufacturing\nSightseeing Transportation\nMeat Products Manufacturing\nSeafood Product Manufacturing\nBaked Goods Manufacturing\nPostal Services\nBreweries\nDistilleries\nTechnology, Information and Media\nPeriodical Publishing\nBook Publishing\nMovies and Sound Recording\nApparel Manufacturing\nSound Recording\nSheet Music Publishing\nRadio and Television Broadcasting\nFashion Accessories Manufacturing\nLeather Product Manufacturing\nCable and Satellite Programming\nTelecommunications Carriers\nFootwear Manufacturing\nSatellite Telecommunications\nWomen's Handbag Manufacturing\nCredit Intermediation\nSavings Institutions\nLoan Brokers\nOil and Coal Product Manufacturing\nSecurities and Commodity Exchanges\nChemical Raw Materials Manufacturing\nInvestment Advice\nInsurance Carriers\nArtificial Rubber and Synthetic Fiber Manufacturing\nAgricultural Chemical Manufacturing\nInsurance Agencies and Brokerages\nClaims Adjusting, Actuarial Services\nFunds and Trusts\nInsurance and Employee Benefit Funds\nPension Funds\nPaint, Coating, and Adhesive Manufacturing\nTrusts and Estates\nSoap and Cleaning Product Manufacturing\nReal Estate and Equipment Rental Services\nLeasing Residential Real Estate\nPlastics and Rubber Product Manufacturing\nReal Estate Agents and Brokers\nEquipment Rental Services\nConsumer Goods Rental\nRubber Products Manufacturing\nClay and Refractory Products Manufacturing\nCommercial and Industrial Equipment Rental\nGlass Product Manufacturing\nWood Product Manufacturing\nProfessional Services\nLime and Gypsum Products Manufacturing\nAbrasives and Nonmetallic Minerals Manufacturing\nPrimary Metal Manufacturing\nIT System Design Services\nMarketing Services\nFabricated Metal Products\nCutlery and Handtool Manufacturing\nArchitectural and Structural Metal Manufacturing\nBoilers, Tanks, and Shipping Container Manufacturing\nConstruction Hardware Manufacturing\nSpring and Wire Product Manufacturing\nTurned Products and Fastener Manufacturing\nHolding Companies\nMetal Treatments\nIndustry Associations\nLandscaping Services\nProfessional Organizations\nMetal Valve, Ball, and Roller Manufacturing\nAdministrative and Support Services\nOffice Administration\nExecutive Search Services\nTemporary Help Services\nAgriculture, Construction, Mining Machinery Manufacturing\nTelephone Call Centers\nCollection Agencies\nCommercial and Service Industry Machinery Manufacturing\nHVAC and Refrigeration Equipment Manufacturing\nMetalworking Machinery Manufacturing\nSecurity Guards and Patrol Services\nSecurity Systems Services\nEngines and Power Transmission Equipment Manufacturing\nJanitorial Services\nWaste Collection\nWaste Treatment and Disposal\nCommunications Equipment Manufacturing\nAudio and Video Equipment Manufacturing\nEducation\nMeasuring and Control Instrument Manufacturing\nSecretarial Schools\nTechnical and Vocational Training\nMagnetic and Optical Media Manufacturing\nCosmetology and Barber Schools\nFlight Training\nElectric Lighting Equipment Manufacturing\nFine Arts Schools\nSports and Recreation Instruction\nHousehold Appliance Manufacturing\nLanguage Schools\nPhysicians\nCourts of Law\nCorrectional Institutions\nDentists\nFire Protection\n\nSelf-check checklist\n\t\u2022\tAre all locations actually present in the ICP?\n\t\u2022\tAre company names copied verbatim, without changes?\n\t\u2022\tAre industries taken only from the allowed list above?\n\t\u2022\tIs the number of objects \u2264 10?\n\t\u2022\tAre there no extra or empty fields?\n\t\u2022\tIs the JSON valid and in the required structure?\n\nFollow these instructions for each ICP request to generate accurate LinkedIn Sales Navigator filters."
        }
      },
      "id": "77e66820-2966-4991-b48e-2edd73b10bf1",
      "name": "AI Agent: ICP -> LinkedIn search filters",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2260,
        1140
      ],
      "executeOnce": false,
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 1.8,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1e7e7c6d-401d-4b6e-ba9c-1e9caacb3f89",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json['Current company'] }}",
              "rightValue": ""
            },
            {
              "id": "5fa79c84-9e9a-4cf9-a3ed-3a84a286b734",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Website }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1997c124-ef6e-4dd3-a514-7447504703c4",
      "name": "Company name is not empty",
      "type": "n8n-nodes-base.if",
      "position": [
        -1180,
        1140
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3f21375a-b09c-464d-a82a-b37f7b6de87b",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Website }}",
              "rightValue": ""
            },
            {
              "id": "96105806-c0b8-461d-8cc1-975d8936814c",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Product Summary\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "db76752b-5869-453f-af8b-8836629a4890",
      "name": "Website is not empty",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        960
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3f21375a-b09c-464d-a82a-b37f7b6de87b",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.URN }}",
              "rightValue": ""
            },
            {
              "id": "96105806-c0b8-461d-8cc1-975d8936814c",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Posts summary\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "5706f22e-d683-4741-8e7c-f678410732d7",
      "name": "Post summary is empty",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        1640
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3f21375a-b09c-464d-a82a-b37f7b6de87b",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.URN }}",
              "rightValue": ""
            },
            {
              "id": "96105806-c0b8-461d-8cc1-975d8936814c",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Company News\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "9d1b820b-3936-448c-8011-b5d97c6b0254",
      "name": "Company news is empty",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        1960
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3f21375a-b09c-464d-a82a-b37f7b6de87b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json[\"Company URN\"] }}",
              "rightValue": ":"
            },
            {
              "id": "96105806-c0b8-461d-8cc1-975d8936814c",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Company post summary\"] }}",
              "rightValue": ""
            },
            {
              "id": "44880d26-6f7d-4ee6-a71c-1cee7733368a",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Company URN\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "7a267eff-13a9-40d0-aa8d-1aaca103e765",
      "name": "Company post is empty",
      "type": "n8n-nodes-base.if",
      "position": [
        320,
        2460
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "140d284f-34c0-4bf4-bb88-b0a9bdbc80f7",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Lead Score\"] }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "83682640-cac1-435c-84ea-dd10507e34ed",
      "name": "Lead Score is empty",
      "type": "n8n-nodes-base.if",
      "position": [
        1960,
        1820
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in evaluating lead potential for our product.\nAnalyze the company\u2019s and lead\u2019s profile content, assessing their likelihood of interest in our product on a scale from 1 to 10 (where 1 indicates minimal potential, and 10 indicates maximum potential).\n\nKey evaluation criteria:\n\t\u2022\tMentions of Hotels suppliers \n\t\u2022\tMentions of Hotel Services\n\nEvaluation scale:\n\t\u2022\t8\u201310 points: Clear mentions of both criteria, active engagement, and explicit interest.\n\t\u2022\t5\u20137 points: Mention of one criterion or indirect indicators of interest in both criteria.\n\t\u2022\t1\u20134 points: No clear mentions, or only weak indirect indicators of interest.\n\nYour answer must ONLY be a single number from 1 to 10, without any additional text.",
              "role": "system"
            },
            {
              "content": "=Lead posts summary:\n {{ $json[\"Posts summary\"] }}\nLead company website analysis:\n{{ $('Google Sheets11').item.json['Product Summary'] }}\n\nCompany news summary:\n{{ $('Google Sheets11').item.json['Company News'] }}\nCompany posts summary\n{{ $('Google Sheets11').item.json['Company post summary'] }}\nCompany descriptin\n{{ $json.Description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "723eadd7-5c63-4191-9f3b-72109a4c8e43",
      "name": "Company Score Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2320,
        1820
      ],
      "retryOnFail": true,
      "typeVersion": 1.8,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "1d43ef76-1869-453b-bd6c-4368bc4de5f0",
      "name": "5s",
      "type": "n8n-nodes-base.wait",
      "position": [
        4240,
        2200
      ],
      "webhookId": "YOUR_WEBHOOKID_HERE",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "Send the first message",
        "height": 680,
        "width": 2260
      },
      "id": "2e157057-9f4c-4c86-a6b4-ccf4cf0329a9",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3080,
        1980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "89d43946-7a8e-41e8-a6b0-fc540974ae3c",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2660,
        2500
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cd898792-a224-459f-9027-97bc007c31df",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "\"icpData\":"
            }
          ]
        },
        "options": {}
      },
      "id": "fa594cb9-fd3c-4e6d-a451-8a2ce8c3097c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -2340,
        2220
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=repeat this sentence:  {{ $('ICP Agent').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are repeater"
            }
          ]
        }
      },
      "id": "54cf8f0e-e0c2-4700-a4a8-033389608653",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2140,
        2240
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "b67a9255-d1c8-4b8b-ac95-f0268dc7960c",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2360,
        2500
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Conversation agent",
        "height": 820,
        "width": 1840
      },
      "id": "ec168d77-6e19-4a8b-bd16-32a1cba16db2",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3180,
        2020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "ba4d0e40-5d35-4f62-b7f0-23d962e154e0",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        3160,
        2060
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "8f8932dd-86e2-4d21-8e01-f723785bd93d",
      "name": "Google Sheets21",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3380,
        2060
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5be9c0af-558c-4b8f-9de2-a21a0f6bb60c",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Connected }}",
              "rightValue": "true"
            },
            {
              "id": "bf0095c5-f74e-4022-a6ec-66066d43cb6c",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Message Sent\"] }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "f125201f-b0bf-4d92-8433-3efecd9cc544",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "position": [
        3600,
        2060
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Check the connections",
        "height": 340,
        "width": 1220
      },
      "id": "4851adc0-1aa9-4661-99f5-abb8be755f87",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2860,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Add new connections",
        "height": 440,
        "width": 1800
      },
      "id": "15526e66-c004-4f9c-841a-013b47a8512a",
      "name": "Sticky Note29",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2660,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4d0c7d09-934f-4327-9eed-e1c04b773166",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Website }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "170c38d7-7c3d-4f86-ba5a-8a1dc0b79941",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "position": [
        -680,
        1900
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "d212bf25-0652-4692-b1f9-6e98c17f8a88",
      "name": "Read companies",
      "type": "n8n-nodes-base.googleSheets",
      "maxTries": 5,
      "position": [
        -1360,
        1140
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_CREDENTIAL_HERE",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "HDW_OutReach"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "YOUR_CACHEDRESULTURL_HERE",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "URL": "YOUR_URL_HERE",
            "URN": "={{ $json.urn.type }}:{{ $json.urn.value }}",
            "img": "={{ $json.image }}",
            "Date": "={{ $json.current_companies[0].joined }}",
            "Name": "={{ $json.name }}",
            "Headline": "={{ $json.headline }}",
            "Industry": "={{ $json.current_companies[0].company.industry }}",
            "Position": "={{ $json.current_companies[0].position }}",
            "location": "={{ $json.location }}",
            "is premium": "={{ $json.is_premium }}",
            "Company URN": "={{ $json.current_companies[0].company.urn.type }}:{{ $json.current_companies[0].company.urn.value }}",
            "Description": "={{ $json.current_companies[0].description }}",
            "Current company": "={{ $json.current_companies[0].company.name }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "img",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Headline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is premium",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "is premium",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Current company",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Current company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company URN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company URN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "URN"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9992adf5-4ae6-4ef3-b098-63d0366d0e4a",
      "name": "Save new companies",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1540,
        1140
      ],
      "retryOnFail": true,
      "typeVersion": 4.5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "00673899-69cf-4226-84e4-e94d070c46d1",
      "name": "Discourse your ICP with Agent",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2960,
        2220
      ],
      "webhookId": "YOUR_WEBHOOKID_HERE",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Your task is to interactively collect an Ideal Customer Profile (ICP) from the user. \n\nIMPORTANT: DO NOT SHOW ANY JSON TO THE USER DURING THE DATA COLLECTION PROCESS. Only communicate in natural language until all data has been collected.\n\nWhen the conversation starts, immediately:\n1. Introduce yourself and explain that you'll be collecting information to build an Ideal Customer Profile\n2. Briefly explain what information you'll be asking for\n3. Ask the FIRST question about current_titles without waiting for further input\n\nData Collection Process:\n1. Initialize an empty object called `icpData` in your memory (do not share this with the user).\n2. Ask the user each of the following questions ONE AT A TIME in natural conversational language, and after each answer, store the response in your internal `icpData` object:\n   - **current_titles**: \"What current titles do your target customers hold? (List comma-separated.)\"\n   - **current_companies**: \"What current companies do they work at? (List comma-separated.)\"\n   - **location**: \"Which geographic regions should we search in? (List cities, regions, or countries.)\"\n   - **industry**: \"Which industries are of interest? (Use LinkedIn's official industry names or describe them as closely as possible.)\"\n   - **company_sizes**: \"Which company sizes do you prefer? (e.g. Self-employed, 1\u201310, 11\u201350, 51\u2013200, etc.)\"\n   - **keywords**: \"Are there any additional keywords to refine the search? (e.g. technologies, specialties, skills.)\"\n\nCommunication Guidelines:\n- Begin immediately with your introduction and the first question about current_titles\n- Speak naturally during the conversation, DO NOT show any JSON during the data collection phase\n- Ask only one question at a time\n- After receiving an answer, acknowledge it and ask the next question\n- If a user provides unclear information, ask for clarification\n- If the user explicitly states they want to skip any questions or finish early, respect their request\n- If the user types \"finish\", \"done\", \"complete\", or similar commands at any point, immediately prepare to generate the JSON\n\nFinal Output Requirements:\n- ALWAYS output the complete icpData object in valid JSON format when EITHER:\n  1. All seven fields have been collected, OR\n  2. The user explicitly requests to finish early or skip remaining questions\n- Include all fields in the output, using null for any fields that weren't collected\n- The \"dataComplete\" field must always be set to true in the final JSON output\n- Do not add any additional fields or modify the JSON structure\n- The final JSON MUST follow this exact format and have only JSON:\n{\n  \"icpData\": {\n    \"current_titles\": \"[collected value or null]\",\n    \"current_companies\": \"[collected value or null]\",\n    \"location\": \"[collected value or null]\",\n    \"industry\": \"[collected value or null]\",\n    \"company_sizes\": \"[collected value or null]\",\n    \"keywords\": \"[collected value or null]\",\n    \"count\": \"[collected value or null]\"\n  },\n  \"dataComplete\": true\n}\n\nCRITICAL: Your final response must consist of ONLY the single line \"Thank you for providing the information. Here is your ICP data:\" followed IMMEDIATELY by the JSON object. Do not add ANY other text, explanations, or formatting. The JSON object must be the absolute final thing in your response with nothing after it."
        }
      },
      "id": "acc9c0ba-ad82-4982-a149-e9d206994451",
      "name": "ICP Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2700,
        2220
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "b8622372-4cb7-4b30-8077-f229a6187bc9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1620,
        1800
      ],
      "typeVersion": 3.1
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "AI Agent: ICP -> LinkedIn search filters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarise user posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarise company news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Summarise company posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "ICP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Website is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Post summary is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Company news is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Company post is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read companies": {
      "main": [
        [
          {
            "node": "Company name is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "Lead Score is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets17": {
      "main": [
        [
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets21": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarise company website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Company Score Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: ICP -> LinkedIn search filters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Google Sheets21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise company website",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "ICP Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Save new companies": {
      "main": [
        [
          {
            "node": "Read companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Score is empty": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise user posts": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website is not empty": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company news is empty": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company post is empty": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post summary is empty": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Score Analysis": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise company news": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise company posts": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: ICP -> LinkedIn search filters",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Company name is not empty": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise company website": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discourse your ICP with Agent": {
      "main": [
        [
          {
            "node": "ICP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: ICP -> LinkedIn search filters": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-05-30T20:02:35.757Z",
      "createdAt": "2025-05-30T20:02:35.757Z",
      "role": "workflow:owner",
      "workflowId": "Bry3INrdmGPATZp7",
      "projectId": "3PTcJ2mMcVduDkV6",
      "project": {
        "updatedAt": "2025-04-23T19:12:24.962Z",
        "createdAt": "2025-04-23T19:10:00.223Z",
        "id": "3PTcJ2mMcVduDkV6",
        "name": "YOUR_CREDENTIAL_HERE",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c59b8fe8-021b-47c6-bde5-5b2ca7aae876"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}